.homePage-layout {
    display: flex;
    height: calc(100vh - 60px); 
    margin-top: 20px;
}

.category-list-container {
    width: 20%;
    border-right: 2px solid #ccc;
    background-color: #f0f4f8;
    padding: 10px;
}

.question-answer-container {
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
}

.question-answer-list {
    list-style-type: none;
    padding: 0;
}

